### Muhammad Amri Rasyid Ramadhan
### 2009106047

#### Import

In [25]:
import pandas as pd
from tabulate import tabulate
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

##### Jumlah Record

In [10]:
df.shape[0]

5110

### Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe
### angka, jumlah attribute yang memiliki nilai null.

#### Jumlah Record

In [11]:
Jumlah = len(df)
print(Jumlah)

5110

#### Nama Atribut

In [12]:
nama = list(df.columns)
print(nama)

['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']

#### Jumlah atribut tipe objek

In [13]:
jumlahObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahObjek)

5

#### jumlah atribut tipe angka

In [14]:
jumlahAngka =len(df.dtypes[df.dtypes == 'int64'])
print(jumlahAngka)

4

#### Jumlah atribut nilai null

In [15]:

df.isna().any().sum()

1

### Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

#### Jumlah Record

In [16]:
Jumlah = len(df)

### Nama Atribut

In [17]:
nama = list(df.columns)
nama = ",\n".join(nama)

### jumlah atribut tipe objek

In [18]:
jumlahObjek = len(df.dtypes[df.dtypes == 'object'])

#### jumlah atribut tipe angka

In [19]:
jumlahAngka = len(df.dtypes[df.dtypes == 'int64'])

#### Jumlah atribut nilai null

In [20]:
jumlahNull = df.isna().any().sum()

In [27]:
kamus = {
    "Jumlah Record":[Jumlah],
    "Nama Atribut" : [nama],
    "Jumlah atribut tipe objek" : [jumlahObjek],
    "Jumlah atribut tipe angka" : [jumlahAngka],
    "Jumlah atribut nilai null"  : [jumlahNull],
    
}

tab = pd.DataFrame(kamus)
print(tabulate(tab, headers='keys', tablefmt='fancy_grid',showindex=False))

╒═════════════════╤════════════════════╤═════════════════════════════╤═════════════════════════════╤═════════════════════════════╕
│   Jumlah Record │ Nama Atribut       │   Jumlah atribut tipe objek │   Jumlah atribut tipe angka │   Jumlah atribut nilai null │
╞═════════════════╪════════════════════╪═════════════════════════════╪═════════════════════════════╪═════════════════════════════╡
│            5110 │ id,                │                           5 │                           4 │                           1 │
│                 │ gender,            │                             │                             │                             │
│                 │ age,               │                             │                             │                             │
│                 │ hypertension,      │                             │                             │                             │
│                 │ heart_disease,     │                             │                             │                             │
│                 │ ever_married,      │                             │                             │                             │
│                 │ work_type,         │                             │                             │                             │
│                 │ Residence_type,    │                             │                             │                             │
│                 │ avg_glucose_level, │                             │                             │                             │
│                 │ bmi,               │                             │                             │                             │
│                 │ smoking_status,    │                             │                             │                             │
│                 │ stroke             │                             │                             │                             │
╘═════════════════╧════════════════════╧═════════════════════════════╧═════════════════════════════╧═════════════════════════════╛

### Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [33]:
df.describe().loc[["mean","std","25%","50%","75%"]]

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000

### Tampilkan nilai korelasi attribute bertipe angka.

In [34]:
df.corr()

C:\Users\Lenovo-LEGION\AppData\Local\Temp\ipykernel_7796\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
id,1.000000,0.003538,0.003550,-0.001296,0.001092,0.003084,0.006388
age,0.003538,1.000000,0.276398,0.263796,0.238171,0.333398,0.245257
hypertension,0.003550,0.276398,1.000000,0.108306,0.174474,0.167811,0.127904
heart_disease,-0.001296,0.263796,0.108306,1.000000,0.161857,0.041357,0.134914
avg_glucose_level,0.001092,0.238171,0.174474,0.161857,1.000000,0.175502,0.131945
bmi,0.003084,0.333398,0.167811,0.041357,0.175502,1.000000,0.042374
stroke,0.006388,0.245257,0.127904,0.134914,0.131945,0.042374,1.000000

### Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [37]:
print(df["avg_glucose_level"].dtype)
df["avg_glucose_level"]=df["avg_glucose_level"].astype("int64")

print(df["avg_glucose_level"].dtype)

float64
int64

### Tampilkan 10 record pertama dari attribute bertipe angka.

In [36]:
dfAngka= df.select_dtypes(include=['float64','int64'])

dfAngka.head(10)

      id   age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0   9046  67.0             0              1             228.69  36.6       1
1  51676  61.0             0              0             202.21   NaN       1
2  31112  80.0             0              1             105.92  32.5       1
3  60182  49.0             0              0             171.23  34.4       1
4   1665  79.0             1              0             174.12  24.0       1
5  56669  81.0             0              0             186.21  29.0       1
6  53882  74.0             1              1              70.09  27.4       1
7  10434  69.0             0              0              94.39  22.8       1
8  27419  59.0             0              0              76.15   NaN       1
9  60491  78.0             0              0              58.57  24.2       1

### Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [38]:
dfAngka.to_csv("Posttest2.csv", index=False)