### POSTTEST 4

#### Muhammad Amri Rasyid Ramadhan

#### 2009106047

##### import libary dan algoritma/metode

In [32]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.naive_bayes import BernoulliNB
from sklearn.neighbors import KNeighborsClassifier

In [33]:
df = pd.read_csv("healthcare-dataset-stroke-data(1).csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046.0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676.0,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112.0,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182.0,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665.0,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5106,18234.0,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5107,44873.0,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5108,19723.0,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5109,37544.0,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5110,44679.0,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

##### Preprocessing Data
##### Encoding

In [34]:
encoder = OrdinalEncoder()

In [35]:
df["gender"] = encoder.fit_transform(df[["gender"]])
df["ever_married"] = encoder.fit_transform(df[["ever_married"]])
df["work_type"] = encoder.fit_transform(df[["work_type"]])
df["Residence_type"] = encoder.fit_transform(df[["Residence_type"]])
df["smoking_status"] = encoder.fit_transform(df[["smoking_status"]])
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046.0,1.0,67.0,0,1,1.0,2.0,1.0,228.69,36.6,1.0,1
1,51676.0,0.0,61.0,0,0,1.0,3.0,0.0,202.21,NaN,2.0,1
2,31112.0,1.0,80.0,0,1,1.0,2.0,0.0,105.92,32.5,2.0,1
3,60182.0,0.0,49.0,0,0,1.0,2.0,1.0,171.23,34.4,3.0,1
4,1665.0,0.0,79.0,1,0,1.0,3.0,0.0,174.12,24.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5106,18234.0,0.0,80.0,1,0,1.0,2.0,1.0,83.75,NaN,2.0,0
5107,44873.0,0.0,81.0,0,0,1.0,3.0,1.0,125.20,40.0,2.0,0
5108,19723.0,0.0,35.0,0,0,1.0,3.0,0.0,82.99,30.6,2.0,0
5109,37544.0,1.0,51.0,0,0,1.0,2.0,0.0,166.29,25.6,1.0,0
5110,44679.0,0.0,44.0,0,0,1.0,0.0,1.0,85.28,26.2,0.0,0

##### Data Cleaning: null

In [36]:
df.isna().sum()

id                     7
gender                19
age                    5
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level     21
bmi                  203
smoking_status         0
stroke                 0
dtype: int64

In [37]:
imputer_mean = SimpleImputer(strategy="mean")
df["bmi"] = imputer_mean.fit_transform(df[["bmi"]])
df["gender"] = imputer_mean.fit_transform(df[["gender"]])
df["avg_glucose_level"] = imputer_mean.fit_transform(df[["avg_glucose_level"]])
df["id"] = imputer_mean.fit_transform(df[["id"]])
df["age"] = imputer_mean.fit_transform(df[["age"]])
df.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

##### Encoding Data Naming

In [38]:
df["stroke"] = df["stroke"].astype("object")
df["stroke"].replace(1, "Positive", inplace=True)
df["stroke"].replace(0, "Negative", inplace=True)
df["stroke"].unique()

array(['Positive', 'Negative'], dtype=object)

##### Supervised Learning
##### Menentukan Data Training dan Testing

In [39]:
x_data = df[["gender", "age", "hypertension", "heart_disease", "ever_married", "work_type", "Residence_type", "avg_glucose_level", "bmi", "smoking_status"]]
y_label = df["stroke"]

#### Bernoulli NaÃ¯ve Bayes

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.3)

In [41]:
bernoulli = BernoulliNB()

In [42]:
bernoulli.fit(x_train, y_train)

BernoulliNB()

In [43]:
bernoulli_score = bernoulli.score(x_test, y_test)
bernoulli_score

0.9419817470664928

#### K-Nearest Neighbors

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.3)

In [45]:
knn = KNeighborsClassifier(n_neighbors=4)

In [46]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [47]:
knn_score = knn.score(x_test, y_test)
knn_score

0.9530638852672751

#### Membandingkan Hasil Algoritma

In [48]:
if knn_score > bernoulli_score:
    print("Skor dari K-Nearest Neighbors lebih besar daripada Bernoulli NaÃ¯ve Bayes")
elif bernoulli_score > knn_score:
    print("Skor dari Bernoulli NaÃ¯ve Bayes lebih besar daripada K-Nearest Neighbors")
else:
    print("Skor antara K-Nearest Neighbors dan Bernoulli NaÃ¯ve Bayes adalah sama")

print(f"Skor K-Nearest Neighbors\t: {knn_score}")
print(f"Skor Bernoulli NaÃ¯ve Bayes\t: {bernoulli_score}")

Skor dari K-Nearest Neighbors lebih besar daripada Bernoulli NaÃ¯ve Bayes
Skor K-Nearest Neighbors	: 0.9530638852672751
Skor Bernoulli NaÃ¯ve Bayes	: 0.9419817470664928